.content{
    width: 100%;
}
.internContent{
    width: 500px;
    background-color: #4983D4;
}

.internContent, .internContentError{
    border: 1px solid #b0b0b0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    
    z-index: 20;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.internContentError{
    color: #fff;
    width: 400px;
    background-color: #cc3300;
    font-weight: bold;
    text-align: center;

}

.internContent h1{
    margin-bottom: 10px;
    margin-top: -20px;
}

.close{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}
.close svg {
    font-size: 25px;
}


.dataInsert{
    width: 100%;
}

.dataInsert label{
    font-weight: bold;
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.descrition textarea{
    padding: 5px;
    background-color: #faf7eb;
}

.date input{
    background-color: #f2ecd2;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding: 3px;

}

.internContent .button{
    background-color: #134892;
    width: 120px;
     height: 35px;
     border-radius: 5px;
    box-shadow: 0 4px 6px #00000040;
    margin-top: 15px;
     color: #f2ecd2;
}

.internContent .button:hover{
    background-color: #0b2b57;
}

.internContentError span{

}