.content{
    width: 100%;
    overflow : auto;
    position: relative;

}

.content h1{
    font-weight: bold;
    font-size: 25px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header button{
    margin-right: 30px;
    background-color: #7daef7;
    /* width: 120px; */
     height: 35px;
     border-radius: 5px;
     font-weight: bold;
     color: #000;
     padding: 5px;
    box-shadow: 0 4px 6px #00000040;

}

.header button:hover{
    background-color: #306abc;
}

.internContent{
    overflow: auto;
}

.table_full{
    width: 100%;
    min-width: 800px;
    overflow : hidden;
}


.table_full td{
    width: 100px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #000;

}

/* .table_full tr:hover{
    background-color: #6da1eb;


}


tbody td{
    cursor: pointer;
} */
tbody, thead{
    width: 800px;
}

thead{
    background-color: #e6e2e2;
}


.header_table, .body_table{
    text-align: center;
    /* text-align: center; */
}

.body_table svg{
     margin: auto;
}

.body_table svg:hover{
    color: #a60c0c;
}
.header_table{
    font-weight: bold;

}

.linkActions{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    margin-top: 13px;
}

.linkActions svg{
     font-size: 20px;
}


.noData{
    margin: .625rem;
    font-weight: bold;
    text-align: center;
    /* width: 100%; */
}