.img{
    width: 100%; /* 100% da largura da viewport (tela) */
  height: 70vh; /* 100% da altura da viewport (tela) */
  object-fit: cover;
}

.link{
    background-color: rgb(56, 61, 148);
    width: 300px;
}